body {
  background: rgb(15, 4, 61);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  width: 100%;
}
form {
  background: linear-gradient(#383490, #3a1c86);
  width: 50%;
  border-radius: 20px;
  color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}
label {
  margin-top: 8px;
  font-size: 18px;
}
input,
select {
  width: 80%;
  border: none;
  height: 25px;
  margin-top: 8px;
}
input:focus {
  outline: none;
  border: 3px solid #49469e;
}
button {
  margin: 10px;
  background-color: rgb(164, 37, 37);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
}
#modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.489);
  width: 100%;
  height: 100vh;
  color: green;
}

#model-content {
  background-color: white;
  width: 80%;
}
.disable {
  background-color: gray;
}
